<div>
    <h1>Đăng ký </h1>
    <form #signup="ngForm"
    (ngSubmit)="onSignup(signup.value)">
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Username</label>
            <input type="text" name="username" class="form-control" ngModel >
          </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email</label>
          <input type="email" name="email" class="form-control"  ngModel aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Phone</label>
            <input type="number" name="phone" class="form-control" ngModel >
          </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" class="form-control" name="password" ngModel id="exampleInputPassword1">
        </div>
        <button type="submit" class="btn btn-primary">Đăng ký</button>
    </form>
</div>